.navbar
{
    background-color: grey;
    width: 100%;
    height: 50px;
}
ul
{
    display: flex;
    justify-content: center;
    gap: 50px;
}
li
{
    list-style: none;
}
a
{
    text-decoration: none;
    color: white;
}